h1 {
	color: #d3e0ea;
}

h3 {
	color: #f6f5f5;
}

th, td {
  padding: 5px;
}

.top {
	background-color: #276678;
	padding-top: 80px;
	padding-bottom: 30px;
	text-align: center;
}

.bottom {
	background-color: f6f5f5;
	padding-top: 30px;
	text-align: center;
	margin: auto;
}

.contact{
	text-align: center;
	margin: auto;
}

.button{
	margin-top: 10px;
}